# Object files
*.o
*.ko
*.obj
*.elf
*.jpg
*.png
*.gif

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
main
mdl

# Debug files
*.dSYM

*~
y.tab.*
lex.yy.c


\#*